@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-color: #0f1111;
$body-bg: #ffffff;
$primary: #28a838;
$secondary: #00254c;
$success: #7f7f7f;
$light: #e2e2e2;
$info: $body-color;
$font-family-sans-serif: "Roboto", sans-serif;

$font-weight-bold: 500;
$font-weight-bolder: 700;
$headings-font-weight: $font-weight-bolder;

$font-size-base: 0.9rem;
$font-size-sm: $font-size-base * 0.875; // 14px
$font-size-lg: $font-size-base * 1.125; // 18px
$h5-font-size: $font-size-base * 1.25; // 20px
$h4-font-size: $font-size-base * 1.5; // 24px
$h3-font-size: $font-size-base * 1.5625; // 25px
$h2-font-size: $font-size-base * 2.1875; // 35px;
$h1-font-size: $font-size-base * 2.5; // 40px;

$font-sizes: (
  1: $font-size-sm,
  2: $font-size-base,
  3: $font-size-lg,
  4: $h5-font-size,
  5: $h4-font-size,
  6: $h3-font-size,
  7: $h2-font-size,
  8: $h1-font-size,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  2_5: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// 3. Include remainder of required Bootstrap stylesheets
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";

$grid-breakpoints: map-remove($grid-breakpoints, "xxl");
$container-max-widths: map-remove($container-max-widths, "xxl");

// 4. Include any optional Bootstrap CSS as needed
@import "node_modules/bootstrap/scss/utilities";

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed,
    ),
  )
);

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/spinners";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here
#page-body {
  top: 0 !important;
}

#wrapper {
  max-width: 1200px;
  min-height: 100vh;
  header {
    #top-buttons {
      img {
        width: 28px;
      }
    }
    #top-navigation {
      #top-mobile-logo {
        height: 48px;
      }
      #main_nav {
        & > ul {
          & > li:hover {
            & > a {
              color: $primary !important;
            }
          }
        }
      }
    }
  }

  main {
    #frontPageTopCarousel {
      .carousel-control-prev,
      .carousel-control-next {
        background-color: #e1e1e1;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      // .carousel-control-next-icon {
      //   opacity: 0;
      //   position: relative;
      //   left: 10px;
      //   transition: opacity 0.1s linear, left 0.4s ease-out;
      // }
      // .carousel-control-prev-icon {
      //   opacity: 0;
      //   position: relative;
      //   right: 10px;
      //   transition: opacity 0.1s linear, right 0.4s ease-out;
      // }
      &:hover {
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
          // visibility: visible;
          opacity: 1;
          left: 0;
          right: 0;
          transition: opacity 0.1s linear, left 0.3s ease-in-out,
            right 0.3s ease-in;
        }
      }
      .carousel-indicators {
        [data-bs-target] {
          width: 55px;
          height: 5px;
        }
      }
      .carousel-caption {
        top: 25%;
        background-color: rgb(0, 0, 0, 0.4);
        height: 50%;
      }
    }
    #frontPagePostSlider {
      // .carousel-inner {
      //   padding: 1em;
      // }
      .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        .card-body {
          height: 275px;
          button {
            width: 152px;
          }
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        background-color: #e1e1e1;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (min-width: 768px) {
        .carousel-inner {
          display: flex;
        }
      }
      .card .img-wrapper {
        max-width: 100%;
        height: 17em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .card img {
        max-height: 100%;
        object-fit: cover;
        object-position: left top;
      }
      @media (max-width: 767px) {
        .card .img-wrapper {
          height: 17em;
        }
      }
      .carousel-indicators {
        bottom: -40px;
        [data-bs-target] {
          width: 55px;
          height: 5px;
          background-color: $primary;
          opacity: 0.4;
          &.active {
            opacity: 1;
          }
        }
      }
    }
    #contact-us-form-wrapper {
      form {
        & > p {
          display: flex;
          flex-direction: column;
          margin-bottom: 0;
        }
        .wpcf7-form-control.has-spinner.wpcf7-submit {
          background-color: $primary;
          font-size: 22px;
          color: white;
          width: 100%;
          border-style: none;
        }
        input,
        textarea,
        select {
          max-width: 100%;
          width: 340px;
        }
        textarea {
          height: 144px !important;
        }
        .wpcf7-spinner {
          position: absolute;
        }
      }
    }
    #frontPageSponsorsSlider {
      .carousel-inner {
        padding: 1em;
      }

      .carousel-control-prev,
      .carousel-control-next {
        background-color: #e1e1e1;
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (min-width: 768px) {
        .carousel-inner {
          display: flex;
        }
      }
      .img-wrapper {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .card img {
        max-height: 100%;
      }
      .carousel-indicators {
        bottom: -40px;
        [data-bs-target] {
          width: 55px;
          height: 5px;
          background-color: $primary;
          opacity: 0.4;
          &.active {
            opacity: 1;
          }
        }
      }
    }
    #newsletter_wrapper {
      @media (min-width: 992px) {
        .card {
          height: 140px;
          img {
            object-fit: cover;
            height: 100%;
            object-position: left;
          }
        }
      }
      @media (max-width: 991.99px) {
        .card {
          height: 300px;
          img {
            object-fit: cover;
            height: 100%;
            object-position: left;
          }
        }
      }
    }
    &.single-post-page,
    &.static-page {
      #next_post_name,
      #previous_post_name {
        max-width: 110px;
        white-space: nowrap;
        overflow-x: hidden;
      }
      @media (min-width: 576px) {
        #next_post_name,
        #previous_post_name {
          max-width: 200px;
        }
      }
    }
  }
}
